{% extends "base.html" %}
{% block content %}
    <h1>Hi, Ivins! </h1>
    <!--{% for post in class1 %}-->
    <!--<div><p>{{ post[0] }} says: <b>{{ post[2] }}</b></p></div>-->
    <!--{% endfor %}-->
    
    <form action= "{{ url_for('results') }}" method = 'POST'>
        <div>
            <div>
                <span>
                    Subject:
                </span>
            </div>
            </div>
                <span>Class Number:</span>
            </div>
            <div>
               <input type="text" name="className"  maxlength = "4" size = "4" placeholder = "CSCE">
                <input type="text" name="classNumber" maxlength = "4" size = "4" placeholder = "470">
                <button> Send</button> 
            </div>
            
        </div>
        
    </form>
    

{% endblock %}